h1{
    margin: auto;
    text-align: center;
}
img{
width: 150px;
height: 150px;
}

div{
    position: absolute;
    width: 200px;
    height: 200px;
}

#uno{
margin-left: 500px;
margin-top: 10px;
}
#dos{
    margin-left: 700px;
    margin-top: 10px;
}
#tres{
    margin-left: 900px;
    margin-top: 10px;
}
#cuatro{
    margin-left: 1100px;
    margin-top: 10px;
}
#cinco{
    margin-left: 1300px;
    margin-top: 10px;
}
#seis{
    margin-left: 500px;
    margin-top: 300px;
}
#siete{
    margin-left: 700px;
    margin-top: 300px;
}
#ocho{
    margin-left: 900px;
    margin-top: 300px;
}
#nueve{
    margin-left: 1100px;
    margin-top: 300px;
}
#diez{
    margin-left: 1300px;
    margin-top: 300px;
}


input{
    position: absolute;
    margin-left: 900px;
    margin-top: 600px;
}



#final{
    width: 800px;
    margin-left: 500px;
    margin-top: 700px;
}

